#order_data .order_data_column ._billing_irs_field 
{ float: right; }
#order_data .order_data_column ._billing_store_field
{
    clear: both;
    width: 100%;
}
#order_data .order_data_column ._billing_timologio_field
{
    clear: both;
    width: 100%;
}
.woocommerce .show-me {
    display: block !important;
}